<h1 class="mt-4">
  Seja bem vindo, <%= current_user.fullname %>
</h1>

<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active"><%= l(Time.now, format: :long) %></li>
</ol>

<div class="card" style="" >
  <div class="card-body">
    <%= simple_form_for(@account, html: { class: 'form-inline', id: "accountForm" }) do |f| %>
    <%= f.input :number, readonly: true, as: :string, label: 'Número', input_html: { class: "" }, label_html: { class: "col-sm-3 col-form-label" }%>
    <div class="custom-control custom-switch">
      <%= f.input :active, as: :boolean, label: "#{@account.active ? 'Encerrar' : 'Ativar'} conta", input_html: { class: "custom-control-input" }, label_html: {class: "custom-control-label"} %>
    </div>
  <% end %>
  </div>
</div>
